body{
    background-color:#FD7272 ;
}
#imagescss {
    padding: 10px;
    border:2px;
    border-radius: 5px;
    width: 30%; 
}

#headerSection{
     padding: 5px;
}

#headerSection h1 {
    font-family: cursive;
}

input{
    padding:10px;
    border-radius: 5px;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}

#loginbtn{
    padding:5px ;
    font-size: 15px;
    background-color:#575fcf ;
    color: aquamarine;
    border-radius:5px ;
}